label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #000000;
  margin: 50px;
  color : white;  
}

.white-color{
  color:white;
}

.signup-background{
  background-color: #000000;
  border: 2px solid #fe4452;
  height: auto;
  width: 90%;
  max-width: 350px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
  /* box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3); */
  text-align: center;  
}

.signin-background{
  background-color: #000000;
  border: 2px solid #93ff67;
  height: auto;
  width: 90%;
  max-width: 350px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
  /* box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3); */
  text-align: center;  
}

.background1 {
  background-color: #000000;
  height: auto;
  width: 90%;
  max-width: 350px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
  /* box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3); */
  text-align: center;
}

.col-form {
  display: flex;
  padding: 30px;
  flex-direction: column;
}

.signin { /* 로그인 아래 선 같은 거 */
  font-family: 'Noto Sans KR', sans-serif;
  border: none;
  border-bottom: 1px solid #ffffff;
  background: none;
  padding: 10px 0;
  font-weight: 500;
  font-size: 13px;
  transition: .25;
  width: 85%;
  color: white;
}

.signin:active,
.signin:focus,
.signin:hover {
  outline: none;
  border-bottom-color: #93ff67;
}
.signin-btn {
  font-family: 'Noto Sans KR', sans-serif;
  border: none;
  width: 70%;
  background-color: #fe4452;
  color: black;
  padding: 10px 0;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;
}
.signin-btn:hover {
  background-color: #93ff67;
}

.signup-btn{
  font-family: 'Noto Sans KR', sans-serif;
  border: none;
  width: 70%;
  background-color: #93ff67;
  color: black;
  padding: 10px 0;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;
}

.signup-btn:hover {
  background-color: #fe4452;
}

.signupbtn {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-left: 10px;
}

.signinbtn {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-left: 10px;
}

.error-form {
  background-color: #000000;
  border: 2px solid #fe4452;
  height: auto;
  width: auto;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
  /* box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.3); */
  text-align: center;  
}
.hide-navbar {
  display: none;
}

.btn-profiler {
  --bs-btn-color: #000;
  --bs-btn-bg: #fe4452;
  --bs-btn-border-color: #fe4452;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #e22f3e;
  --bs-btn-hover-border-color: #e22f3e;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #e22f3e;
  --bs-btn-active-border-color: #e22f3e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #fe4452;
  --bs-btn-disabled-border-color: #fe4452;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 20px;
}

.btn-profileg {
  --bs-btn-color: #000;
  --bs-btn-bg: #93ff67;
  --bs-btn-border-color: #93ff67;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #68db3b;
  --bs-btn-hover-border-color: #68db3b;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #68db3b;
  --bs-btn-active-border-color: #68db3b;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #68db3b;
  --bs-btn-disabled-border-color: #68db3b;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 20px;
}